.main {
    margin          : 0 auto;
    width           : var(--app-width);
    min-height      : 30vh;
    background-color: #fff;
    padding         : 2.53rem 3.45rem;
    display         : flex;
    flex-wrap       : wrap;
    justify-content : space-between;
    align-content   : stretch;
}

.main .container {
    width          : 100%;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;
}

.wrapper {
    border-top: 1.126px solid var(--bg-color-light);
    padding   : 1.9rem 0;
    margin-top: 1.9rem;
    width     : 100%;
}

.content {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : 0 .8rem;
    margin         : .2rem 0;
    border-radius  : 0.35175rem;
    transition     : background-color 0.3s ease;
}

.content:hover {
    background-color: var(--brand-secondary);
}

.content p:first-child {
    text-transform: capitalize;
    width         : 60%;
}


@media screen and (max-width: 990px) {
    .main {
        width: 95%;
    }

}

@media screen and (max-width: 650px) {
    .main .container {
        flex-direction: column;
        gap           : 1rem;
    }


    .main .container button {
        align-self: flex-start;
    }

}


@media screen and (max-width: 430px) {
    .main {
        padding: 1.53rem 1.45rem;
    }

}