:root {
  --app-width        : 60.25rem;
  --gray-1           : #2A2A2A;
  --gray-2           : #232323;
  --gray-3           : #1B1B1B;
  --gray-4           : #171717;
  --gray-5           : #414141;
  --gray-5           : #747474;
  --brand-primary    : #F96E62;
  --bg-color-light   : #F6F6F6;
  --bg-color         : #DDD;
  --border-color     : #CECECE;
  --border-color-dark: #979797;
  --placeholder      : #B0B0B0;

  --btn-link-border: #5D5D6B;
  --btn-link-color : #494953;
}

* {
  box-sizing: border-box;
  padding   : 0;
  margin    : 0;
}

html,
body {
  max-width : 100vw;
  overflow-x: hidden;
}

body {
  font-size            : 16px;
  min-height           : 100vh;
  display              : flex;
  flex-direction       : column;
  background-image     : url('../assets/bg-img.png');
  background-size      : contain;
  background-position-y: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color      : var(--gray-1);
  font-weight: 700;
  line-height: 2.1105rem;
}

h1 {
  font-size     : 1.96981rem;
  letter-spacing: 0.01969rem;
}

h2 {
  font-size     : 1.68838rem;
  letter-spacing: 0.01688rem;
}

h3 {
  font-size     : 1.26631rem;
  letter-spacing: 0.01269rem;
}

h4 {
  color         : #000;
  font-size     : 1.19594rem;
  font-weight   : 600;
  letter-spacing: 0.01194rem;
}

p,
span {
  font-size     : 1.05525rem;
  letter-spacing: 0.01056rem;
}

a {
  color          : inherit;
  text-decoration: none;
  cursor         : pointer;
}

button {
  background-color: transparent;
  border          : none;
  cursor          : pointer;
}

li {
  list-style: none;
}

input {
  height        : 3.5rem;
  width         : 100%;
  padding       : 1rem 0.875rem;
  border-radius : 0.3125rem;
  border        : 2px solid var(--border-color);
  background    : var(--bg-color);
  font-size     : 1.4375rem;
  font-weight   : 400;
  line-height   : 1.875rem;
  letter-spacing: 0.01438rem;
}

input::placeholder {
  color: var(--placeholder);
}

.btn-primary,
.link-btn-primary {
  width         : 100%;
  height        : 3.875rem;
  padding       : 1rem 9.4375rem;
  border        : 0;
  border-radius : 0.3125rem;
  background    : var(--brand-primary);
  color         : #FFF;
  font-size     : 1.4375rem;
  font-weight   : 700;
  line-height   : 1.875rem;
  letter-spacing: 0.01438rem;
  cursor        : pointer;
}

.link-btn-primary {
  overflow   : hidden;
  line-height: 3.875rem;
}

.link-btn-default {
  padding            : 0.35175rem 0.7035rem;
  height             : 2.18081rem;
  color              : var(--btn-link-color);
  border-radius      : 0.35175rem;
  border             : 1.688px solid var(--btn-link-border);
  background         : #FFF;
  font-size          : 1.05525rem;
  font-weight        : 700;
  line-height        : 2.1105rem;
  letter-spacing     : 0.01056rem;
  display            : flex;
  align-items        : center;
  align-content      : center;
  transition-duration: .3s;
}

.link-btn-default img {
  margin-right: .42rem;
}

.link-btn-default:hover {
  background-color: var(--bg-color-light);
}


.outer-container {
  width          : var(--app-width);
  min-height     : 100%;
  margin         : 0 auto;
  flex           : 1;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.inner-container {
  background-color: #fff;
  padding         : 5.76756rem 3.4465rem;
  width           : 40.44338rem;
  max-width       : 40.44338rem;
  max-height      : 21.45rem;
  border-radius   : .5rem;
  border          : 2px solid var(--border-color);
  text-align      : center;
  box-shadow      : 0px 4.502px 60.782px 0px rgba(0, 0, 0, 0.10);
}

.inner-container h1 {
  font-size     : 1.75rem;
  line-height   : 1.875rem;
  letter-spacing: 0.0175rem;
}

.lists-container {
  background-color: #FFF;
  transition      : background-color .3s;
}

.lists-container:hover {
  background-color: var(--bg-color-light);
}