.header {
    width           : 100vw;
    height          : 4.375rem;
    color           : var(--gray-2);
    font-weight     : 500;
    background-color: #fff;
}

.header nav {
    width          : var(--app-width);
    height         : 100%;
    margin         : 0 auto;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.header nav ul {
    display: flex;
    gap    : 3.52rem;
}

.item:hover,
.item:active {
    text-decoration      : solid underline var(--brand-primary) 3px;
    text-underline-offset: 5px;
}